/* @import 'css/buttons.css';
 Можно импортировать, собирать отдельные файлы CSS в один MAIN таким образом! */

body {
    background-color: rgba(255, 217, 0, 0.212);
}

h1, h2 {
    color: rgba(255, 0, 0, 0.692);
    text-align: center;
    text-decoration: underline;
}

img {
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

.italic {
    font-style: italic;
}

.upper {
    text-transform: uppercase;
}

p {
   line-height: 1.4em; 
   margin: 0 auto;
   width: 700px;
   font-size: 1.5em;
    
}

nav.static {
    margin: 70px auto 50px auto;
    text-align: center;
}

ol.static {
    display: inline-block;
    width: 150px;
    font-size: 1.3em;
   
}


nav.fixed{
position: fixed;
top: 70px;
left: 5px;
}